<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="brand"><img src="assets/imgs/brand.jpg" /></div>
    <ion-buttons class="notification" slot="end">
      <ion-icon name="notifications"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <div class="header">
    <div class="profile">
      <img
        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
      <div class="content">
        <h3 class="name">Alessandra Santos</h3>
        <span class="level">Nivel Roxo</span>
      </div>
    </div>
    <div class="container-center">
      <div class="options">
        <div class="option">
          <div class="badge">
            <ion-icon name="accessibility"></ion-icon>
          </div>
          <span>meu corpo</span>
        </div>
        <div class="option">
          <div class="badge">
            <ion-icon name="trophy"></ion-icon>
          </div>
          <span>objetivos e conquistas</span>
        </div>
      </div>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="body">
    <app-carousel
      title="personal online"
      icon="add-circle-outline"
      [items]="personal"
    ></app-carousel>
    <app-carousel
      title="programas"
      badge="novo"
      [items]="programs"
    ></app-carousel>
  </div>
</ion-content>
