ion-header {
  box-shadow: none;
  background: black;
}

ion-toolbar {
  --padding-top: 8px;
  --padding-bottom: 8px;
  --background: #1f1f1f;
}

ion-menu-button {
  font-size: 36px;
  color: white;
}

.brand {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

ion-buttons.notification {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: black;
  margin-right: 12px;

  ion-icon {
    font-size: 12px;
    color: orange;
  }
}

ion-buttons.notification::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #7df0d3;
}

.header {
  background-color: #1f1f1f;
  padding: 12px 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;

  .profile {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;

    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 100%;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .name {
        color: white;
        font-size: 16px;
        margin: 0;
      }

      .level {
        color: blueviolet;
        font-size: 13px;
        font-weight: 100;
      }
    }
  }

  .container-center {
    display: flex;
    justify-content: center;

    .options {
      display: inline-flex;
      justify-self: center;
      gap: 12px;
      padding: 8px 14px;
      border-radius: 14px;
      background-color: rgba(0, 0, 0, 0.5);

      .option {
        display: flex;
        gap: 3px;

        & > * {
          color: orange;
        }

        span {
          font-size: 13px;
          text-transform: uppercase;
          font-weight: 100;
        }

        .badge {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          border: 1px solid orange;

          ion-icon {
            font-size: 12px;
          }
        }
      }
    }
  }
}

ion-content {
  --background: black;

  .body {
    padding: 36px;
  }
}
